.container-fluid {
  padding-right: 0%;
  padding-left: 0%;
  margin-right: 0%;
  margin-left: 0%; }

.row {
  margin-right: 1px;
  margin-left: 0%; }
  .row .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px; }
    .row .col-lg-12 .navbar {
      padding-top: 20px;
      padding-bottom: 20px; }
      .row .col-lg-12 .navbar .navbar-nav {
        display: inline-flex;
        justify-content: flex-end; }

.img-fluid {
  height: 954px; }

.titulo-medio {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center; }

.contacto {
  padding: 180px; }

.row-margin {
  margin-left: 0px;
  margin-bottom: 100px; }
  .row-margin .col-lg-4 {
    padding-left: 5.6%; }
    .row-margin .col-lg-4 .card-title {
      margin-left: 0px; }
      .row-margin .col-lg-4 .card-title .btn {
        display: block; }

.top {
  margin-top: 60px; }

.footer-margin {
  margin-top: 100px;
  margin-left: 38.9%; }

@media only screen and (max-width: 480px) {
  .row-margin {
    margin-left: 30px; }
  .img-fluid {
    height: 388px; }
  .footer-margin {
    margin-left: 20px; }
  .top {
    margin-top: 16px; } }

@media only screen and (min-width: 979px) {
  .row-margin {
    margin-left: 5%; } }
