.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px; }

.navbar-nav {
  display: inline-flex;
  justify-content: flex-end; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px; }

.row {
  margin-right: 0%;
  margin-left: 0%; }

.container-fluid {
  padding-right: 0%;
  padding-left: 0%;
  margin-right: 0%;
  margin-left: 0%; }

.img-fluid {
  height: 954px; }

.titulo-medio {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center; }

.row-margin {
  margin-left: 5%;
  margin-bottom: 100px; }

.card-title {
  margin-left: 35%; }

.btn {
  display: block; }

.top {
  margin-top: 60px; }

.row {
  margin-right: 0%;
  margin-left: 0%; }

.footer-margin {
  margin-top: 100px;
  margin-left: 35%; }

a {
  color: black; }

@media only screen and (max-width: 480px) {
  .row-margin {
    margin-left: 30px; }
  .img-fluid {
    height: 388px; }
  .footer-margin {
    margin-left: 20px; }
  .top {
    margin-top: 16px; } }

@media only screen and (min-width: 979px) {
  .row-margin {
    margin-left: 5%; } }
