.titulo-medio {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;

    .contactus {

        margin-top: 102px;
        margin-bottom: 161px;
        display: flex;
        justify-content: center;

    }


    .row-margin {
        margin-left: 0px;
        margin-bottom: 100px;

        .col-lg-4 {
            padding-left: 5.6%;


            .card-title {
                margin-left: 0px;

                .btn {
                    display: block;
                }
            }
        }
    }


    .top {
        margin-top: 60px;
    }




}

.formulario {
    display: flex;
    justify-content: center;

    .grid-contenedor-padre {
        display: grid;
        grid-template-areas:
            "name lastname"
            "country city"
            "phone phone"
            "submit submit";
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-columns: 340px 345px;
    }


}


.name {
    grid-area: name;
}

.lastname {
    grid-area: lastname;
}

.country {
    grid-area: country;
}

.city {
    grid-area: city;
}

.phone {
    grid-area: phone;
    margin-left: 0px;
}

.submit {
    grid-area: submit;
}



.row-margin .col-lg-4 {
    padding-left: 0%;
    display: flex;
    justify-content: center;
}
