.container-fluid{
    padding-right:0%; 
    padding-left: 0%;
    margin-right: 0%;
    margin-left:0%;
}

.img-fluid {
    height: 954px;
}

.titulo-medio {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.row-margin {
    margin-left: 5%;
    margin-bottom: 100px;
}

.card-title {
    margin-left: 35%;
}

.btn {
    display: block;
}

.top {
    margin-top: 60px;
}

.row {
    margin-right: 0%;
    margin-left: 0%;
}
