.container-fluid {
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 0%;

}

.row {
    margin-right: 1px;
    margin-left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;

    .col-lg-12 {
        padding-right: 0px;
        padding-left: 0px;

        .navbar {
            padding-top: 20px;
            padding-bottom: 20px;
            

            .navbar-nav {
                display: inline-flex;
                justify-content: flex-end;
            }
        }
    }
}
