.col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav {
    display: inline-flex;
    justify-content: flex-end;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    margin-right:0%;
    margin-left:0%;

}
